{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'add_company' %}" class="add_record_form">
        {% csrf_token %}
        <h1>Add Company</h1>
        {{ form.as_p }}

        <div class="form-group">
            <button type="submit" class="btn btn-secondary">Add Company</button>   <!-- btn btn-success   green-->
            <a href="{% url 'companies' %}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>


{% endblock %}
