{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <div class="view_record_card">
        <h1>View Company Record</h1>

        <strong>Company name: </strong>
        <p class="white-cell"> {{ company_record.name }}</p>

        <strong>Last name: </strong>
        <p class="white-cell"> {{ company_record.phone }}</p>

        <strong>Job Title: </strong>
        <p class="white-cell">{{ company_record.email }}</p>

        <strong>Phone: </strong>
        <p class="white-cell">{{ company_record.address }}</p>

        <strong>Email: </strong>
        <p class="white-cell">{{ company_record.city }}</p>

        <strong>Description: </strong>
        <p class="white-cell">{{ company_record.state }}</p>

        <strong>Social Media URL: </strong>
        <p class="white-cell">{{ company_record.zipcode }}</p>

        <strong>Date of Birth: </strong>
        <p class="white-cell">{{ company_record.industry }}</p>

        <strong>Email: </strong>
        <p class="white-cell">{{ company_record.website }}</p>

        <strong>Description: </strong>
        <p class="white-cell">{{ company_record.year_founded }}</p>

        <strong>Social Media URL: </strong>
        <p class="white-cell">{{ company_record.number_of_employees }}</p>

        <strong>Date of Birth: </strong>
        <p class="white-cell">{{ company_record.manager }}</p>
        
        
        
        
        <div class="form-group">
            <a href="{% url 'update_company' company_record.company_id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'companies' %}" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>





{% endblock%}