{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <div class="record_card">
        <h1>View Contact Record</h1>

        <strong>First name: </strong>
        <p class="white-cell"> {{ contact_record.first_name }}</p>

        <strong>Last name: </strong>
        <p class="white-cell"> {{ contact_record.last_name }}</p>

        <strong>Job Title: </strong>
        <p class="white-cell">{{ contact_record.job_title }}</p>

        <strong>Phone: </strong>
        <p class="white-cell">{{ contact_record.phone }}</p>

        <strong>Email: </strong>
        <p class="white-cell">{{ contact_record.email }}</p>

        <strong>Description: </strong>
        <p class="white-cell">{{ contact_record.description }}</p>


        <strong>Date of Birth: </strong>
        <p class="white-cell">{{ contact_record.date_of_birth }}</p>

        

        <div class="form-group">
            <a href="{% url 'update_record' contact_record.contact_id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'contacts' %}" class="btn btn-primary">Back</a>
        </div>

    </div>
</div>





{% endblock%}