{% extends 'base.html' %}

{% block title %}
    <title>Corporate Contacts</title>
{% endblock %}

{% block content %}



{% if user.is_authenticated %}


<div class="add_btn  mb-3 text-end">
    <a href="{% url 'add_record' %}" class="btn btn-primary">Add contact</a>
</div>

<table id="myTable" class="table table-striped table-hover table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th class="ID">ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Company</th>
            <th>Job Title</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Description</th>
            <th>Created At</th>
            <th class="exclude-column" style="width: 8%;">Actions</th>
        </tr>
    </thead>

    <!-- Data from backend -->
    <tbody>

        {% if records %}
        {% for record in records %}

        <tr>
            <td>{{ record.contact_id }}</td>
            <td>{{ record.first_name }}</td>
            <td>{{ record.last_name }}</td> 
            <td>{{ record.company }}</td>
            <td>{{ record.job_title }}</td>
            <td>{{ record.phone }}</td>
            <td>{{ record.email }}</td>
            <td>{{ record.description }}</td>
            <td>{{ record.created_at }}</td>
            <td id="td_actions">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'record' record.contact_id %}">View</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_record' record.contact_id %}">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_record' record.contact_id %}">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        {% endfor %}

        {% endif %}


    </tbody>
</table>



{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login to get started</h1>
    <br />

    <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Username" required>

        </div><br />
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>

    </form>



{% endif %}

{% endblock %}
