{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}




<div class="flex-box">

{%include 'sidenav.html' %}


    <div class="content_btn_table">
<h1>Customers</h1>


    </div>






</div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login to get started</h1>
    <br />

    <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Username" required>

        </div><br />
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-secondary">Login</button>

    </form>



    {% endif %}

    {% endblock %}