{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<h2 class="mb-2">Commerce Insights Panel</h2>
<h5 class="text-700 fw-semi-bold">Here’s what’s going on at your business right now</h5>



<br>
<h5>Sales Report Chart</h5>

     
<img src="{% url 'sales_report_chart' %}" alt="Sales Report Chart" />






{% else %}

<div class="login-form">
<h1>Login to get started</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>




{% endif %}

{% endblock %}