{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <div class="view_record_card">
        <h1>View Lead Record</h1>

        <strong>Lead status: </strong>
        <p class="white-cell">{{ lead_record.lead_status }}</p>

        <strong>First name: </strong>
        <p class="white-cell"> {{ lead_record.first_name }}</p>

        <strong>Last name: </strong>
        <p class="white-cell"> {{ lead_record.last_name }}</p>

        <strong>Phone: </strong>
        <p class="white-cell">{{ lead_record.phone }}</p>

        <strong>Email: </strong>
        <p class="white-cell">{{ lead_record.email }}</p>

        <strong>Creation date: </strong>
        <p class="white-cell">{{ lead_record.creation_date }}</p>

        <strong>Lead source: </strong>
        <p class="white-cell">{{ lead_record.lead_source }}</p>

        <strong>Lead description: </strong>
        <p class="white-cell">{{ lead_record.lead_description }}</p>
        
        <strong>Expected close date: </strong>
        <p class="white-cell">{{ lead_record.expected_close_date }}</p>

        <div class="form-group">
            <a href="{% url 'update_lead' lead_record.lead_id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'leads' %}" class="btn btn-primary">Back</a>
        </div>

    </div>
</div>





{% endblock%}