{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<div class="add_btn  mb-3 text-end">
    <a href="{% url 'add_manager' %}" class="btn btn-primary">Add manager</a> 
</div>

<table id="myTable" class="table table-striped table-hover table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Job title</th>
            <th>Department</th>
            <th class="exclude-column" style="width: 8%;">Actions</th>
        </tr>
    </thead>


    <tbody>

        {% if managers_records %}
        {% for manager_record in managers_records %}

        <tr>
            <td>{{ manager_record.first_name }} {{ manager_record.last_name }}</td>
            <td>{{ manager_record.phone }}</td>
            <td>{{ manager_record.email }}</td>
            <td>{{ manager_record.job_title }}</td>
            <td>{{ manager_record.department }}</td>
            <td id="td_actions">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'manager_record' manager_record.manager_id %}">View</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_manager' manager_record.manager_id %}">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_manager' manager_record.manager_id %}">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        {% endfor %}

        {% endif %}


    </tbody>
</table>






    </div>
</div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login to get started</h1>
    <br />

    <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Username" required>

        </div><br />
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>

    </form>



    {% endif %}

    {% endblock %}