{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<div class="add_btn  mb-3 text-end">
    <a href="{% url 'add_manager' %}" class="btn btn-secondary">Add manager</a> 
</div>

<table id="myTable" class="table table-striped table-hover table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Job title</th>
            <th scope="col">Department</th>
            <th scope="col" class="fixed-width">Actions</th>
        </tr>
        <tr>
            <th scope="col" colspan="5"><input class="search_by_name" type="text" oninput="myFunction()"
                    placeholder="Search by..."></th>
            <th><select class="filter_by" onchange="myFunction()">
                    <option value="0">Full Name</option>
                    <option value="1">Phone</option>
                    <option value="2">Email</option>
                    <option value="3">Job title</option>
                    <option value="4">Department</option>
                </select>
            </th>
        </tr>
    </thead>


    <tbody>

        {% if managers_records %}
        {% for manager_record in managers_records %}

        <tr>
            <td>{{ manager_record.first_name }} {{ manager_record.last_name }}</td>
            <td>{{ manager_record.phone }}</td>
            <td>{{ manager_record.email }}</td>
            <td>{{ manager_record.job_title }}</td>
            <td>{{ manager_record.department }}</td>
            <td id="td_actions">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'manager_record' manager_record.manager_id %}">View</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_manager' manager_record.manager_id %}">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_manager' manager_record.manager_id %}">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        {% endfor %}

        {% endif %}


    </tbody>
</table>


        



        <!-- Выпадающий список для выбора количества строк на странице -->
<div class="rows-per-page">
    <label for="rowsPerPage">Rows per page:</label>
    <select id="rowsPerPage" onchange="changeRowsPerPage()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>



<div class="pagination_prev_next">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end" id="pagination">
            <li class="page-item disabled">
                <a class="page-link" onclick="changePage('prev')">Previous</a>
            </li>
        </ul>
    </nav>
</div>




    </div>
</div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login to get started</h1>
    <br />

    <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Username" required>

        </div><br />
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-secondary">Login</button>

    </form>



    {% endif %}

    {% endblock %}