{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <div class="record_card">
        <h1>View Record</h1>

        <strong>First name: </strong>
        <p class="white-cell"> {{ customer_record.first_name }}</p>
        
        <strong>Last name : </strong>
        <p class="white-cell">{{ customer_record.last_name }}</p>
        
        <strong>Email: </strong>
        <p class="white-cell">{{ customer_record.email }}</p>

        <strong>Phone: </strong>
        <p class="white-cell">{{ customer_record.phone }}</p>

        <strong>Address: </strong>
        <p class="white-cell">{{ customer_record.address }}</p>

        <strong>City: </strong>
        <p class="white-cell">{{ customer_record.city }}</p>

        <strong>State: </strong>
        <p class="white-cell">{{ customer_record.state }}</p>

        <strong>Zipcode: </strong>
        <p class="white-cell">{{ customer_record.zipcode }}</p>

        <strong>Create At: </strong>
        <p class="white-cell">{{ customer_record.created_at }}</p>

        <div class="view_button_groupe">
            <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update record</a>
            <!-- <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-secondary">Delete</a> -->
            <a href="{% url 'contacts' %}" class="btn btn-secondary">Back</a>

        </div>
    </div>
</div>




{% endblock%}