{% extends 'base.html' %}

{% block title %}
    <title>Sales Report by Products</title>
{% endblock %} 

{% block content %}

{% if user.is_authenticated %}



        <table id="myTable" class="table table-striped table-hover table-bordered table-sm">
          <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Total Sold</th>
                <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in sales_data %}
                <tr>
                    <td>{{ entry.product__name }}</td>
                    <td>{{ entry.total_sold }}</td>
                    <td>${{ entry.total_sales|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
      

  {% else %}

  
  
  
  <div class="col-md-6 offset-md-3">
    <h1>Login to get started</h1>
    <br />

    <form method="POST" action="">
      {% csrf_token %}

      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required/>
      </div>
      <br />
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required/>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

{% endif %} 
{% endblock %}
