<div class="sidenav">
    <ul class="sidenav_menu">
        <li><a href="{% url 'home' %}">Dashboard</a></li>
        <li><a href="{% url 'leads' %}">Leads and Prospects</a></li>
        <li><a href="{% url 'products' %}">Products Stock</a></li>
        <li><a href="{% url 'product_orders' %}">Order Tracking</a></li>
        <li><a href="{% url 'companies' %}">Company Database</a></li>
        <li><a href="{% url 'contacts' %}">Corporate Contacts</a></li> 
        <li><a href="{% url 'orders' %}">Order Management</a></li>
        <li><a href="{% url 'managers' %}">Employee List</a></li>
        <li><a href="{% url 'sales_report_by_managers' %}">Sales Report by Managers</a></li>
        <li><a href="{% url 'sales_report_by_products' %}">Sales Report by Products</a></li>
    </ul>
</div>