<div class="sidenav">
    <ul class="sidenav_menu">
        <li><a href="{% url 'home' %}">Dashboard</a></li>
        <li><a href="{% url 'leads' %}">Leads</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'companies' %}">Companies</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li> 
        <li><a href="{% url 'orders' %}">Orders</a></li>
        <li><a href="{% url 'managers' %}">Managers</a></li>
        <li><a href="{% url 'sales_report_by_managers' %}">Sales Report by Managers</a></li>
        <li><a href="{% url 'sales_report_by_products' %}">Sales Report by Products</a></li>
    </ul>
</div>